name: build-dists
on: [workflow_dispatch]
permissions: { contents: read }

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: manylinux-amd64,   image: quay.io/pypa/manylinux_2_28_x86_64,  runs_on: ubuntu-22.04 }
          - { name: manylinux-aarch64, image: quay.io/pypa/manylinux_2_28_aarch64, runs_on: ubuntu-22.04-arm }
          - { name: musllinux-amd64,   image: quay.io/pypa/musllinux_1_2_x86_64,   runs_on: ubuntu-22.04 }
          - { name: musllinux-aarch64, image: quay.io/pypa/musllinux_1_2_aarch64,  runs_on: ubuntu-22.04-arm }
    runs-on: ${{ matrix.runs_on }}
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - run: uv build --sdist --wheel
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.name }}
          path: 'dist/*'

  macos-aarch64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - run: uv build --sdist --wheel
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: macos-aarch64
          path: 'dist/*'
